{% extends "base.html.twig" %}
{% block main %}
  

<section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
            {% if (items|length) > 0 %}
            {% for item in items %}
            {% if item.produits is not null %}
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="{{ asset ('img/')}}" alt="" />
                    </div>
                    <div class="media-body">
                      <p>{{ item.produits.description }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>{{ item.produits.prix }}</h5>
                </td>
                <td>
                  <div class="product_count">
                    
                    <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="1" min="0" max="10">
                    <span class="input-number-increment"> <i class="ti-plus"></i></span>
                  </div>
                </td>
               <td>
                <a href="{{
                  path(
                    'panier_subtract',
                    {
                      id: item.produits.id
                    }
                  )
                  }}"
                  class="btn">
                  Enlever un article
                </a>
              </td>
              </tr>
              
              <tr class="bottom_button">
                <td>
                  <a class="btn_1" href="#">Update Cart</a>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="btn_1" href="#">Close Coupon</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>{% endif %}
        {% endfor %}</td>
                <td></td>
                <td>
                  <h5>{{ totalPrice }}</h5>
                </td>
                
              </tr>
              <tr class="shipping_area">
                <td></td>
                <td></td>
                <td>
              
                    
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="#">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="#">Proceed to checkout</a>
          </div>
        </div>
        {% else %}
          <h1> Votre panier est vide </h1>
      </div>
  </section>
  {% endif %}
  {% endblock %}